@import '../../styles/variables';

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    box-shadow:         $shadow;
}

$primary-color: #349ef3;
// notification variables
$notification-max-width: 360px;
$notification-action-width: 90px;
$notification-success-bg: #ffffff;
$notification-success-border: #4dc657;
$notification-success-icon: "\f058";

$notification-default-bg: #ffffff;
$notification-default-border: #ffffff;

$notification-info-bg: #ffffff;
$notification-info-border: #349ef3;
$notification-info-icon: "\f05a";

$notification-warning-bg: #ffffff;
$notification-warning-border: #f5aa0a;
$notification-warning-icon: "\f071";

$notification-error-bg: #ffffff;
$notification-error-border: #f5311d;
$notification-error-icon: "\f057";

@mixin notification-variant($background, $border-color, $icon) {
    background-color: $background;
    border-left:      2px solid #{$border-color};
    color:            #524c4c;

    @if $icon != '' {
        .notification-icon:before {
            content: $icon;
            color:   $border-color;
        }
    }
}

.notification {
    min-height: 40px;
    display:    table;
    height:     100%;
    position:   relative;
    border:     none;
    @include box-shadow(0 1px 3px -1px rgba(0, 0, 0, 0.3));
    z-index:    999;

    // add extra padding to let space for icon
    &:not(&--default) {
        .notification-meta {
            padding-left: 55px;
        }
    }
    &-meta {
        display:    table-cell;
        box-sizing: border-box;
        width:      100%;
        padding:    10px 20px;
    }
    // global style for action buttons
    &-actions {
        display:        table-cell;
        box-sizing:     border-box;
        height:         100%;
        vertical-align: top;

        .notification-action {
            min-height:  40px;
            box-sizing:  border-box;
            padding:     0;
            background:  white;
            border:      none;
            border-left: 1px solid rgba(0, 0, 0, 0.09);
            outline:     none;
            text-align:  center;

            &-text {
                display:       block;
                height:        25px;
                // width of an action button with 10px of padding
                width:         70px;
                white-space:   nowrap;
                overflow:      hidden;
                margin:        0 auto;
                text-overflow: ellipsis;
                text-align:    center;
            }
            &:hover {
                color: $primary-color;
            }
            &:active {
                color: darken($primary-color, 10%);
            }
        }
    }
    &-icon {
        position:    absolute;
        top:         10px;
        left:        20px;
        font-family: 'FontAwesome';
        font-size:   2rem;
    }
    &-title {
        margin-top:  1px;
        font-size:   1.5rem;
        font-weight: 700;
    }
    &-message {
        margin-bottom: 0;
    }
    &--dismissible {
        cursor: pointer;
    }
    // color variants
    &--default {
        @include notification-variant($notification-default-bg, $notification-default-border, '');
    }
    &--success {
        @include notification-variant($notification-success-bg, $notification-success-border, $notification-success-icon);
    }
    &--info {
        @include notification-variant($notification-info-bg, $notification-info-border, $notification-info-icon);
    }
    &--warning {
        @include notification-variant($notification-warning-bg, $notification-warning-border, $notification-warning-icon);
    }
    &--error {
        @include notification-variant($notification-error-bg, $notification-error-border, $notification-error-icon);
    }
    // change size of action buttons and meta div
    // for small to large screen
    @media (min-width: #{$screen-sm-min}) {
        margin-bottom: 20px;

        &--actions-1 .notification-action {
            height: 100%;
        }
        &--actions-2 .notification-action {
            height: 50%;
        }
        &-actions {
            width: $notification-action-width;

            .notification-action {
                display: block;
                width:   $notification-action-width;

                &:nth-child(2) {
                    border-top: 1px solid rgba(0, 0, 0, 0.09);
                }
            }
        }
    }
    // change size of action buttons and meta div
    // for extra small screen
    @media (max-width: #{$screen-xs-max}) {
        width: 100%;

        &--actions-1 {
            .notification-actions {
                width: $notification-action-width;
            }
        }
        &--actions-2 {
            .notification-meta {
                width: calc(100% - #{$notification-action-width} * 2)
            }
            .notification-actions {
                width: calc(#{$notification-action-width} * 2);
            }
        }
        &-actions {
            .notification-action {
                display: inline-block;
                width:   $notification-action-width;
                height:  100%;
            }
        }
    }
}

// Animation : slide left to right for small to large screens
@media (min-width: #{$screen-sm-min}) {
    .notification {
        position:   relative;
        right:      0;
        transition: opacity .4s, right .4s;
        // Animations
        // enter animation (start)
        &-enter {
            opacity: 0.01;
            right:   -#{$notification-max-width};

            // enter animation (end)
            &.notification-enter-active {
                right:   0;
                opacity: 1;
            }
        }
        // leave animation (start)
        &-leave {
            opacity: 1;
            right:   0;

            // leave animation (end)
            &.notification-leave-active {
                opacity: 0.01;
                right:   -#{$notification-max-width};
            }
        }
    }
}

// Animation : slide top to bottom for extra small screens
@media (max-width: #{$screen-xs-max}) {
    .notification {
        position:   relative;
        top:        0;
        transition: opacity .4s, top .4s;
        // Animations
        // enter animation (start)
        &-enter {
            top: -150px;

            // enter animation (end)
            &.notification-enter-active {
                top:     0;
                opacity: 1;
            }
        }
        // leave animation (start)
        &-leave {
            opacity: 1;
            top:     0;

            // leave animation (end)
            &.notification-leave-active {
                opacity: 0.01;
                top:     -150px;
            }
        }
    }
}
