{
    "presets": [
        "@babel/preset-typescript",
        "@babel/preset-react",
        "@babel/preset-env"
    ],
    "plugins": [
        "react-hot-loader/babel",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}
