{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env",
        "@babel/preset-flow"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}
