{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "max-len": [2, {"code": 130}],
        "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
        "semi": [2, "never"],
        "quotes": [2, "single"],
        "one-var": [2, "never"],
        "padded-blocks": [2, "never"],
        "space-before-function-paren": [2, "never"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-trailing-spaces": [2, {"skipBlankLines": true}],
        "operator-linebreak": [2, "after", {"overrides": {"?": "ignore", ":": "ignore"}}],
        "quote-props": [2, "as-needed"],
        "valid-jsdoc": [
            2, {
                "requireReturnDescription": false,
                "requireParamDescription": false
            }
        ],
        "no-prototype-builtins": [0],
        "object-curly-spacing": ["error", "never"],
        "multiline-ternary": [2, "always-multiline"],
        "react/jsx-indent": [2, 2],
        "react/jsx-indent-props": [2, 2],
        "react/jsx-closing-bracket-location": [2, "tag-aligned"],
        "react/jsx-boolean-value": [2, "never"],
        "react/jsx-max-props-per-line": [2, {"maximum": 3}],
        "react/jsx-max-depth": [2, {"max": 6}],
        "react/jsx-handler-names": [0],
        "react/jsx-first-prop-new-line": [0],
        "react/jsx-curly-newline": [0],
        "react/jsx-tag-spacing": [
            2, {
                "closingSlash": "never",
                "beforeSelfClosing": "never",
                "afterOpening": "never"
            }
        ]
    }
}
