{
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "eslint-import-resolver-typescript": true
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "legacyDecorators": true
        }
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "prettier/babel",
        "prettier/react",
        "prettier/standard"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "amd": true
    },
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/no-use-before-define": "off",
        "no-undef": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "plugins": [
        "@typescript-eslint",
        "react",
        "jsdoc",
        "prettier",
        "react-hooks"
    ],
    "ignorePatterns": [
        "jest.config.js"
    ],
    "overrides": [
        {
            "files": [
                "**/*.spec.ts",
                "**/*.spec.tsx"
            ],
            "env": {
                "jest": true,
                "browser": true,
                "es6": true
            }
        }
    ]
}
