.DS_Store
node_modules
.github
.idea
.travis
build
tests_coverage
demo
test
docs
src
.babelrc
.eslintignore
.eslintrc
.prettierrc
.gitignore
.travis.yml
*.log
renovate.json
scripts/*
jest.config.js
tsconfig.json
codecov.yml
