@import '../../styles/_variables.scss';

.sidebar {
    position:   fixed;
    top:        0;
    left:       0;
    width:      $sidebar-width;
    height:     100%;
    padding:    15px;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}
