.background {
    background: #EECDA3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EECDA3 , #EF629F); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EECDA3 , #EF629F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:   fixed;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
}