@import '../../styles/_variables.scss';

.background {
    background: #eecda3;
    background: -webkit-linear-gradient(to top, #eecda3, #ef629f);
    background: linear-gradient(to top, #eecda3, #ef629f);
    position:   fixed;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
}

.logo-container {
    display:   block;
    position:  fixed;
    top:       50%;
    left:      50%;
    transform: translateY(-50%) translateX(calc(-50% + #{$sidebar-width} / 2));
    color:     white;
}

.logo {
    font-family: 'ArtelyInks';
    // change size for extra small screens
    @media (max-width: #{$screen-xs-max}) {
        font-size: 80px;
    }
    // change size for large screens
    @media (min-width: #{$screen-sm-min}) {
        font-size: 120px;
    }
}

.description {
    // change size for extra small screens
    @media (max-width: #{$screen-xs-max}) {
        font-size: 15px;
    }
    // change size for large screens
    @media (min-width: #{$screen-sm-min}) {
        font-size: 16px;
    }
}

