.background {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #c2e59c, #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:   fixed;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
}