// notification variables
$notification-max-width: 360px;
$notification-button-width: 90px;
// Media queries breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-xs-max: ($screen-sm-min - 1);