#background {
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00c9ff, #92fe9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00c9ff, #92fe9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:   fixed;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    opacity:    .7;
}

#notification-creator {
    position:   fixed;
    background: white;
    width:      280px;
    height:     100%;
    top:        0;
    left:       0;
    padding:    15px;
}