@import '../../styles/variables';

$notification-max-width: 350px;

// notifications panel
.notifications-container {
    position: fixed;
    z-index:  99999;
}

@media (max-width: #{$screen-xs-max}) {
    .notifications-container {
        width: 100%;
        top:   0;
        left:  0;
    }
}

// Container position
@media (min-width: #{$screen-sm-min}) {
    .notifications-container {
        max-width: $notification-max-width;
        width:     40%;

        &--tr {
            top:   20px;
            right: 20px;
        }
        &--tl {
            top:  20px;
            left: 20px;
        }
        &--br {
            bottom: 0;
            right:  20px;
        }
        &--bl {
            bottom: 0;
            left:   20px;
        }
    }
}

