name: CI
on: [push]
jobs:
  build:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12.x
    - name: setup NPM
      run: npm set @LouisBarranqueiro:registry https://npm.pkg.github.com/ && npm set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm run test:coverage
    - name: Report tests coverage to Codecov
      run: npx codecov --token=${{ secrets.CODECOV_TOKEN }}
    - name: Build demo website
      if: github.ref == 'refs/heads/master'
      run: npm run build-demo
    - name: Deploy demo website
      if: github.ref == 'refs/heads/master'
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: demo/dist
        CLEAN: true # Automatically remove deleted files
